.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid grey;
	color: #000;
	margin-bottom: 16px;
}

input{
	height: 45px;
}

form .submit{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	
}

form .submit:hover{
	background-color: #f44336;
	cursor: pointer;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 980px) {
	 .form-control, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }